@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: ;
  }
} */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table-responsive table {
    min-width: 600px; /* Sesuaikan dengan lebar tabel */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.inconsolata {
  font-family: "Inconsolata", monospace;
}
